.commentdiv{
    display: flex;
}
.commentp{
    margin-right: 10px;
}
.commentbutton{
    width: 100px;
    /* height: 40px; */
    border-radius: 10px;
    text-align: center;
    background-color: rgb(255, 115, 0);
  
}
.addcomment{
    display: flex;

}
.commentinput{
    width: 90%;
    margin-right: 10px;
    border-color:rgb(255, 115, 0); ;
}