.signup{
    /* background-color: yellow; */
    /* background-image: url('../../assets//magicpattern-seamless-patterns-1705701406969.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
}

.alli{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    
  
}

form{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    /* background-color: #3754ab; */
}
input{
    height: 50px;
    border-radius: 4px;
    padding: 8px;
    /* border-color: blue; */
	border: 3px solid rgb(66, 135, 245);
    width: 95%;
    /* color: red; */
    /* border: none; */
	
    
}

button{
    padding: 9px;
    background-color:rgb(37, 205, 205);
    border: none;
    color: white;
    border-radius: 4px;
    width: 95%;
    font-size: 20px;
}
.leftcontainer,.rightcontainer{
    height: 500px;
    /* border: 1px solid black; */
    display: flex;
    width: 48%;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 4px;
    /* background-color: #ccc; */
    margin: 10px;
}

h1{
    font-size: 3.5em;
}
.button1{
    background-color: antiquewhite;
    width: 200px;
}
.a{
    display: flex;
    flex-direction: row-reverse;
    width:95%;
    margin: auto;
    /* background-color: #000; */
}
.visibility{
    display: flex;
  position: relative;
  width: 95%;
}
.visibility input{
    width: 100%;
}
.eye{
    position: absolute;
    top: 25px;
    left: 390px;
  
    color: rgb(37, 205, 205);

}
.eye:hover{
    color:rgb(247, 89, 144);
}
input:focus {
    outline: none;
  }
@media(max-width:742px){
    .leftcontainer,.rightcontainer{
        width: 100%;
    }

}